DB_HOST=localhost
DB_NAME=leilife_v2
DB_USER=root
DB_PASS=

GOOGLE_CLIENT_ID=

# Mailer Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=no-reply@leilife.com
SMTP_FROM_NAME=Leilife Support

# Payment Gateway
PAYMONGO_PUBLIC_KEY=pk_test_...
PAYMONGO_SECRET_KEY=sk_test_...
PAYMONGO_WEBHOOK_SECRET=whsk...

# Pusher Configuration
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=ap1